{% extends "base.html" %} {% block title %}Update Pot{% endblock %} {% block content
  %}
  {% if user.username == 'admin' %}
  <div class="container">
    <form enctype="multipart/form-data" action="/updatepot/{{ pot_to_update.id }}" method="POST">
    <h3 align="center">Uredi posude</h3>
    <table class="table">
        <tr>
            <td>Lokacija</td>
            <td><input type="text" name="location" class="form-control" id="location" value="{{ pot_to_update.location }}" /></td>
        </tr>
        <tr>
            <td>Ime biljke</td>
            <td><input type="text" name="name" class="form-control" id="name" value="{{ pot_to_update.name }}"/></td>
        </tr>
        <tr>
            <td>Status</td>
            <td><input type="text" name="status" class="form-control" id="status" value="{{ pot_to_update.status }}"></td>
        <!-- </tr>  
            <td>Slika</td>
            <td><input type="file" accept="image/*" class="form-control" name="img" id="img" value="{{ pot_to_update.img }}"></td>
        </tr>  -->   
        <tr>
            <td colspan="2">
                <input type="submit" class="btn btn-primary float-right" value="Uredi">
            </td>  
    </table>
      
      </form>
    
    </div>
    {% endif %}
  {% endblock %}

